@charset "UTF-8";
@font-face{font-family:'Nanum Gothic'; src:url('../font/nanum_gothic_ultralight.ttf')}
body, table, div, p {font-family:'Nanum Gothic';}
div,p,input[type=text]{
	text-align:left !important;	
}
#container{
	width:1000px;
	height:840px;
	border:1px solid #d3d3de;	
	background-color:#fff;	
}
.banner{
	max-width:100%;
	height:auto;
}
.menu{
 	position:relative;	
}
.searchtab{
	position:absolute;
	top:0;
	left:0;
	font-size: 2em;
}
.nonmenu{
	line-height:25px;
	padding:10px;
	width:220px;
	text-align:left;
	background-color: #73dacb;
	color:#fff;
}
.plain{
	border-right:1px solid #d3d3de;
	background-color: #fff;
	color:#000;
}
.searchtab li:not(.nonmenu){
	border-right:1px solid #d3d3de;	
	height:70px;
	line-height:70px;
	width:230px;
	font-size: 1.1em;
}

.active_menu{
	border-bottom:7px solid #4e6fbc;
	line-height:60px;
}

#container #view_container{
	position:relative;
	top:70px;
	border-top:1px solid #d3d3de;	
	height:196px;
	text-align:left;
}
.indigo{
	color:indigo;
}
#view_container small{
	text-align:left;
}
.big{	
	font-size:1.8em;	
}
.inline{
	display:inline-block;
}
.vertical-list li{
	clear:both;
	overflow:hidden;
}
.photo{
	position:relative;
	top:10px;
	left:10px;
	width:65px;
}
.label{
	display:inline-block;
	padding:10px;
	font-size:1.5em;
}

.view{
	width: 100%;
	padding-left:50px;
	padding-top:10px;
	
}
.width320{
	width:320px;
}

.setting_view, .inquiry_view{
	padding-top:20px;
	padding-left:40px;
	font-size:1.3em;
}
.hidden{
	display:none;
	
}
#setting li, .ac_setting li{
 width:100px;
 clear:both;	
 display:block;
 border-bottom:1px solid #d3d3de;
 border-right:1px solid #d3d3de;
 padding:20px;
 font-size:2em;
 box-sizing: border-box;
}

#setting ul, #inquiry ul{
	position:absolute;
	top:0px;
	left:0px;
}


.sub{
	border-left:1px solid #d3d3de;
	position:absolute;
	top:0px;
	left:99px;
	width:90%;
	height:598px;
}
#point div{
	padding: 7px;
	font-size:1.1em;
}

#allview{
	position:relative;
	top: 100px;
	height:705px;
	border-top:1px solid #d3d3de;
}
#tab, #tab2, #tab3{
	position:relative;
	top:70px;
	border-top:1px solid #d3d3de;
}
#tab ul li, #tab2 ul li, #tab3 ul li{
	clear:both;
	display:block;
	width: 220px;
	height: 70px;
	line-height:70px;
	font-size: 2em;
	border-right:1px solid #d3d3de;
	border-bottom:1px solid #d3d3de;
}

.active_f{
	border-right:7px solid #d3d3de !important;
	box-sizing: border-box;
}
#accoridon_tab{
	position:relative;
	top:30px;
}
#faq div{
	width:750px;
	margin:0;
	position:relative;
	top:1px;
}
#faq ul{
	position:absolute;
	left:0px;
	top:14px;		
}
#faq li{
	font-size:1.35em;
}
#ask div{
	width:750px;
	margin:0;
	position:relative;
	top:1px;	
}
#ask ul{
	position:absolute;
	left:0px;
	top:14px;	
}
#ask li{
	font-size:1.35em;
}
.card-body{
	display:none;
}
.border{
	border:1px solid #d3d3de;
	box-shadow:none;
}
.card-header{
	padding:0.25rem 1.25rem;
	height:60px;
	line-height:60px;
	font-size:1.3em;
}
#faq_accordion{
	position:relative !important;
	top:65px !important;
}
.block{
	position:relative;
	width: 200px;
	height:200px;
	float:left;
	border:1px solid #d3d3de;
	margin: 15px;
}

#allview_container{
	position:relative;
	top:-507px;
	left:220px;
}
#ppage_bg{
	width:293px;
	height:70px;
	background-color:#1a87b5;
	position:absolute;
	top:0px;
	left:60px;
	z-index:99;	
}
#ppage_bg img{
	width:293px;
	height:70px;	
}
#ppage_img{
	position:absolute;
	top:0px;	
}
#ppage_photo1{
	position:absolute;
	z-index:100;
	top:20px;	
	left:70px;
	border:3px solid white;
	border-radius:7px;
}
#ppage_photo1 img{
	border-radius:7px;
}
.claimInsertFormdiv{
	position:absolute;
	top:100px;
}
.claimPaging{
	position: absolute;
	top:400px;
	left:246px;
}