@charset "UTF-8";

	#wing{
		position:relative;
		width:1000px;
	}
	#wing .wing_position{
		
		position: absolute;
		left:1006px;
	}
	#wing .wing_position .wing_wrap{
		width:210px;
		height:350px;
		position: fixed;
		background-color:white;
		border:1px solid #dee0e3;
		box-shadow:1px 2px 4px #dee0e3;
	}
	#wing .wing_position .wing_wrap .wing1{
		padding-top:10px;
		border-bottom:3px solid #158CBA;
	}
	#wing .wing_position .wing_wrap .wing1 ul{
		margin-bottom:0px;
	}
	#wing .wing_position .wing_wrap .wing1 ul li{
		width:32.3%;
		border-right:1px solid #d3d3de;
		box-sizing:border-box;
		cursor: pointer;
	}
	#wing .wing_position .wing_wrap .wing3 h2{
		text-align:left;
		padding-left:20px;
		padding-top:10px;
	}
	#wing_pro_cate, #wing_con_cate{
		width:170px;
		height:30px;
		border:1px solid #ced4da;
		border-radius:5px;
		padding-left:10px;
		box-shadow:inset 0 2px 0 rgba(0, 0, 0, 0.075);
		margin-bottom:10px;
	}
	#wing_pro_area{
		width:170px;
		height:30px;
		border:1px solid #ced4da;
		border-radius:5px;
		padding-left:10px;
		box-shadow:inset 0 2px 0 rgba(0, 0, 0, 0.075);
		margin-bottom:10px;
	}
	#wingProBtn, #wingConBtn, #wingQueBtn{
		width:160px;
		height:30px;
		background-color:#158CBA;
		border:1px solid #158CBA;
		border-radius:5px;
		color:white;
		font-weight:bold;
		font-size:1.25em;
		box-shadow:1px 2px 4px #dee0e3;
	}
	#wingConKeyword,#wingQueKeyword{
		margin-bottom:10px;
		text-align:left;
		padding-left:10px;
		margin-left:19px;
		width:170px;
		height:30px;
		border-radius:5px;
	}
	#wing .wing_position .wing_wrap .wing_content{
		display:none;
	}
	#wing .wing_position .wing_wrap .wing_question{
		display:none;
	}
